<div>
  <div class="max-w-xl lg:p-10">
    <div>
      <p class="text-7xl font-medium tracking-tight">{{ fields.heading }}</p>
      <p class="max-w-xl mt-4 text-base tracking-tight">{{ fields.description }}</p>
    </div>
    {% include '@block/gallery-hero/components/buttons.twig' %}
  </div>
</div>
